<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.wm.dao.WmMapper" >
  <resultMap id="BaseResultMap" type="com.zy.wm.entities.Wm" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="WM_ID" property="wmId" jdbcType="VARCHAR" />
    <result column="WM_NAME" property="wmName" jdbcType="VARCHAR" />
    <result column="WM_COUNT" property="wmCount" jdbcType="DECIMAL" />
    <result column="WM_ALL" property="wmAll" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID,WM_ID,WM_NAME,WM_COUNT,WM_ALL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_WM
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_WM
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zy.wm.entities.Wm" >
    insert into T_WM (id, wm_id, wm_name, 
      wm_count, wm_all)
    values (#{id,jdbcType=DECIMAL}, #{wmId,jdbcType=VARCHAR}, #{wmName,jdbcType=VARCHAR}, 
      #{wmCount,jdbcType=DECIMAL}, #{wmAll,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zy.wm.entities.Wm" >
    insert into T_WM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wmId != null" >
        wm_id,
      </if>
      <if test="wmName != null" >
        wm_name,
      </if>
      <if test="wmCount != null" >
        wm_count,
      </if>
      <if test="wmAll != null" >
        wm_all,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="wmId != null" >
        #{wmId,jdbcType=VARCHAR},
      </if>
      <if test="wmName != null" >
        #{wmName,jdbcType=VARCHAR},
      </if>
      <if test="wmCount != null" >
        #{wmCount,jdbcType=DECIMAL},
      </if>
      <if test="wmAll != null" >
        #{wmAll,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.wm.entities.Wm" >
    update T_WM
    <set >
      <if test="wmId != null" >
        wm_id = #{wmId,jdbcType=VARCHAR},
      </if>
      <if test="wmName != null" >
        wm_name = #{wmName,jdbcType=VARCHAR},
      </if>
      <if test="wmCount != null" >
        wm_count = #{wmCount,jdbcType=DECIMAL},
      </if>
      <if test="wmAll != null" >
        wm_all = #{wmAll,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.wm.entities.Wm" >
    update T_WM
    set wm_id = #{wmId,jdbcType=VARCHAR},
      wm_name = #{wmName,jdbcType=VARCHAR},
      wm_count = #{wmCount,jdbcType=DECIMAL},
      wm_all = #{wmAll,jdbcType=DECIMAL}
    where id = #{id,jdbcType=DECIMAL}
  </update>
  
  
  <select id="getTotal" resultType="INTEGER">
		select
		count(*)
		from (
		select * from t_wm
		<where>
			<if test="wmId!=null and wmId != ''">
				AND WM_ID like '%' || #{wmId,jdbcType=VARCHAR} || '%'
			</if>
			
		</where>
		)
	</select>
	<select id="queryAll" resultMap="BaseResultMap">
		SELECT * FROM
		(
		SELECT A.*, rownum r
		FROM
		(select * from t_wm
		<where>
			<if test="wmId!=null and wmId != ''">
				AND WM_ID like '%' || #{wmId,jdbcType=VARCHAR} || '%'
			</if>

		</where>
		)A
		WHERE rownum &lt;= #{end,jdbcType=DECIMAL}
		) B
		WHERE r &gt;#{start,jdbcType=DECIMAL} order by B.WM_ID
	</select>
  
</mapper>