<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.car.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.zy.car.entities.Car" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CAR_ID" property="carId" jdbcType="VARCHAR" />
    <result column="CAR_NAME" property="carName" jdbcType="VARCHAR" />
    <result column="CAR_COUNT" property="carCount" jdbcType="DECIMAL" />
    <result column="CAR_ALL" property="carAll" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CAR_ID, CAR_NAME, CAR_COUNT, CAR_ALL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_CAR
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_CAR
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zy.car.entities.Car" >
    insert into T_CAR (ID, CAR_ID, CAR_NAME, 
      CAR_COUNT, CAR_ALL)
    values (#{id,jdbcType=DECIMAL}, #{carId,jdbcType=VARCHAR}, #{carName,jdbcType=VARCHAR}, 
      #{carCount,jdbcType=DECIMAL}, #{carAll,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zy.car.entities.Car" >
    insert into T_CAR
    <trim prefix="(" suffix=")" suffixOverrides="," >
     
        ID,
     
      <if test="carId != null" >
        CAR_ID,
      </if>
      <if test="carName != null" >
        CAR_NAME,
      </if>
      <if test="carCount != null" >
        CAR_COUNT,
      </if>
      <if test="carAll != null" >
        CAR_ALL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
     	SEQ_T_CAR.NEXTVAL,
      <if test="carId != null" >
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="carName != null" >
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carCount != null" >
        #{carCount,jdbcType=DECIMAL},
      </if>
      <if test="carAll != null" >
        #{carAll,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.car.entities.Car" >
    update T_CAR
    <set >
      <if test="carId != null" >
        CAR_ID = #{carId,jdbcType=VARCHAR},
      </if>
      <if test="carName != null" >
        CAR_NAME = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="carCount != null" >
        CAR_COUNT = #{carCount,jdbcType=DECIMAL},
      </if>
      <if test="carAll != null" >
        CAR_ALL = #{carAll,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.car.entities.Car" >
    update T_CAR
    set CAR_ID = #{carId,jdbcType=VARCHAR},
      CAR_NAME = #{carName,jdbcType=VARCHAR},
      CAR_COUNT = #{carCount,jdbcType=DECIMAL},
      CAR_ALL = #{carAll,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  
    <select id="getTotal" resultType="INTEGER">
		select
		count(*)
		from (
		select * from t_car
		<where>
			<if test="carId!=null and carId != ''">
				AND CAR_ID like '%' || #{carId,jdbcType=VARCHAR} || '%'
			</if>
			
		</where>
		)
	</select>
	<select id="queryAll" resultMap="BaseResultMap">
		SELECT * FROM
		(
		SELECT A.*, rownum r
		FROM
		(select * from t_car
		<where>
			<if test="carId and carId != ''">
				AND CAR_ID like '%' || #{carId,jdbcType=VARCHAR} || '%'
			</if>

		</where>
		)A
		WHERE rownum &lt;= #{end,jdbcType=DECIMAL}
		) B
		WHERE r &gt;#{start,jdbcType=DECIMAL} order by ID
	</select>
</mapper>